@using OnlineShopFinal.ViewModel
@model List<LineItemViewModel>
@*@model IEnumerable<OnlineShopFinal.Models.PurchaseOrderLineItem>*@

@{
    ViewData["Title"] = "Cart";
}
<head>
    <script src="~/cart/js/jquery.min.js"></script>

    <script src="~/js/site.js"></script>
    <script language="javascript">
     
    </script>

</head>

<div class="waraper-style">

    <!-- breadcrumb start -->
    <div class="breadcrumb-area gray-bg">
        <div class="container text-center">
            <div class="breadcrumb-stye ptb-100">
                <h2 class="page-title">cart page</h2>

            </div>
        </div>
    </div>
    <!-- breadcrumb end -->
    <!-- shopping-cart-area start -->
    <div class="small-container cart-page">
        <h1 class="cart-heading">Cart</h1>

        <form name="cart" method="post" asp-action="Cart">
            <div class="table-content table-responsive">

                <table>
                    <thead>
                        <tr>
                            <th class="product-name">remove</th>
                            <th class="product-price">images</th>
                            <th class="product-name">Product</th>
                            <th class="product-price">Quantity</th>
                            <th class="product-quantity">Price</th>
                            <th class="product-subtotal">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int m = 0;}
                        @foreach (var purchase in Model)
                        {

                            <tr name="line_items">

                                <td class="product-remove cart-info"><a asp-area="Customer" asp-action="Remove" asp-controller="Home" asp-route-id="@purchase.Id"><i class="fa fa-times"></i></a></td>

                                <td class="product-thumbnail cart-info">

                                    <a href="#"><img style="height:80px; width:92px;" src="~/@purchase.image" alt=""></a>
                                </td>

                                <td class="product-name cart-info"><a href="#">@purchase.ProductName</a></td>
                                <td class="quantityb cart-info">
                                    <sapn class="dec quantitybtn"> <i class="fa fa-minus"></i> </sapn>&nbsp;

                                    <input type="hidden" class="Id" asp-for="@Model[m].Id" value="@purchase.Id" />
                                    <input readonly class="quantity" id="qt" asp-for="@Model[m].Quantity" value="@purchase.Quantity" />
                                    <span class="inc quantitybtn"><i class="fa fa-plus"></i></span>
                                </td>

                                <td class="cart-info"><input class="price" readonly name="price" value="@purchase.UnitPrice" /></td>

                                <td class="cart-info"><input readonly class="subtotal" id="sbtotal" asp-for="@(Model[m].Subtotal) " value="@purchase.Subtotal" /></td>

                            </tr>
                            m++;
                        }



                    </tbody>
                </table>
                <div class="total-price">
                    <table>

                        <tr>
                            <td>Total</td>
                            <td><input id="Total" /></td>
                        </tr>
                    </table>
                </div>
                <input class="btn" type="submit" value="Proceed to checkout" />
            </div>
            
        </form>
    </div>

    <!-- shopping-cart-area end -->
</div>


    <script src="~/cart/js/jautocalc.js"></script>
    <script src="~/cart/js/script.js"></script>


